<div class="container_big_card">
    <div class="big_card_pic">
        <img src="https://europe1.discourse-cdn.com/sonarsource/uploads/sonarcommunity/optimized/2X/7/7790562482bc76d328b17db864907ec4848e0a0a_2_1023x475.png" alt="placeholder" height="200px">
    </div>

    <div class="big_card_title">
        <h1><a href="#">Saiu nova versão do Angular</a></h1>
    </div>
    
    <div class="big_card_description">
        <p>
            <a href="#">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. vitae ullam voluptatem cum perspiciatis dolores deserunt. Repudiandae, commodi aliquam.</p>
            </a>
    </div>
</div>
