<app-menu-title></app-menu-title>
<div class="articles">
    <div class="container_articles">
        <div class="articles_main">
            <app-big-card
                id="1"
                photoCover="https://europe1.discourse-cdn.com/sonarsource/uploads/sonarcommunity/optimized/2X/7/7790562482bc76d328b17db864907ec4848e0a0a_2_1023x475.png"
                cardTitle="Nova versão do Angular anunciada!"
                cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. vitae ullam voluptatem cum perspiciatis dolores deserunt."
                ></app-big-card>
        </div>

        <div class="articles_others">
            <app-small-card id="2" photoCover="https://wallpapers.com/images/hd/marvel-pictures-a8zq5u8qw3ega7cx.jpg" cardTitle="Saiu novo filme da Marvel"></app-small-card>
            <app-small-card id="2" photoCover="https://wallpapers.com/images/hd/marvel-pictures-a8zq5u8qw3ega7cx.jpg" cardTitle="Saiu novo filme da Marvel"></app-small-card>
            <app-small-card id="2" photoCover="https://wallpapers.com/images/hd/marvel-pictures-a8zq5u8qw3ega7cx.jpg" cardTitle="Saiu novo filme da Marvel"></app-small-card>
        </div>
    </div>
</div>